/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
img{
  height: auto;
  width: 100%;
  vertical-align: middle;
}
*, *::after, *::before {
  box-sizing: border-box;
}
.container{
  max-width: 1200px;
  margin: 0 auto;
}
.container-sm{
  max-width: 996px;
  margin: 0 auto;
}
.lh-s{
  font-size: 20px;
  line-height: 30px;
}
.lh-m {
  font-size: 24px;
  line-height: 36px;
}
.lh-l{
  font-size: 36px;
  line-height: 48px;
}
.list-unstyled{
  list-style: none;
}
.title {
  margin-top: 40px;
}
.title h1{
  font-size: 80px;
  line-height: 95px;
  font-weight: normal;
  padding-bottom: 24px;
  border-bottom: 2px solid #000;
  padding-bottom: 24px;
  margin-bottom: 48px;
}
.title img{
  width: 324px;
  height: 324px;
  margin-bottom: 48px;
}
.mb-24{
  margin-bottom: 24px;
}
.mb-16{
  margin-bottom: 16px;
}
.mb-64{
  margin-bottom: 64px; 
}
.mx-12{
  margin:0 12px;
}
.pl-16{
  padding-left: 16px;
}
.pb-8{
 padding-bottom: 8px;
}
.fw-300{
  font-weight:300;
}
.fw-500{
  font-weight: normal;
}
.fw-600{
  font-weight: 600;
}
.text-red{
  color: #A00404;
}
.border-b{
  border-bottom: 1px solid #000;
}

.skill, .contact{
  background: #415165;
  color:white;
  padding-bottom: 40px;
  padding-top: 24px;
}
.skill h2, .contact h2{
  text-align: center;
  border-bottom: 1px solid #fff;
  margin-bottom: 40px;
  font-size: 32px;
  line-height: 48px;
  margin-top: 0;
}
.skill span, .contact span{
  line-height: 36px;
  font-size: 24px;
  padding-left: 16px;
}
.skill ul{
  width: 225px;
  border-left: 1px solid #fff;
  margin: 0 auto;
  font-size: 24px;
  line-height: 36px;
  font-weight: 300;
  padding-left: 23px;
}
.work{
  margin-bottom: 80px;
}
.work p{
  margin-top: 0;
  font-size: 20px;
  line-height: 30px;
}
.work img{
  width: 100px;
  height: 100px;
  display: block;
}

.contact img{
  width: 48px;
  height: 48px;
}
.contact ul{
  width: 550px;
  text-align: center;
  margin: 0 auto;
  font-size: 24px;
  line-height: 36px;
  font-weight: 300;
  padding-left: 23px;
}

